<% include ../partials/header %>
    <header class=jumbotron>
        <div class="container">
            <h2>Kommende Veranstaltungen</h2>
            <p>
                <a class="btn btn-success btn-lg" href="/events/new">Neue Veranstaltung hinzufügen</a>
            </p>
        </div>
    </header>
    

<%
String.prototype.trunc = String.prototype.trunc ||
      function(n){
          return (this.length > n) ? this.substr(0, n-1) + "..." : this;
      };

 //Maxdate 
var tdates=[];
events.forEach(function(event){
    tdates.push(new Date(event.date));
});
var maxDate=new Date(Math.max.apply(null,tdates));

//generate genMonths
var genMonths = [];
var date = new Date();
var endDate = maxDate.setMonth(maxDate.getMonth() + 1);
var monthNameList = ["Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"];
while (date <= endDate)
{
    var headerstring = moment(date).format('MMMM') + " " + date.getFullYear();
    var compareDate =  monthNameList[date.getMonth()] + "_" + date.getFullYear();
    
    genMonths.push({
        headerstring: headerstring,
        compareDate : compareDate
    });
    date.setMonth(date.getMonth() + 1);
}
%>

    <div class="row text-center">
        <%  genMonths.forEach(function(month){ %>
            <div class="row">
                <div>
                    <h3><%= month.headerstring %></h3>
                    <hr>
                    <% events.forEach(function(event){ %>
                        <% if(moment(event.date).format('MMM_YYYY').replace('.', '') == month.compareDate) { %>
                            <div class="col-md-3 col-sm-6">
                                <div id= "indexthumbnail">
                                   <div class="indexthumbnail containerindex ">
                                        <% if(event.image) {%>
                                            <img src="<%= event.image %>">
                                        <% } else {%>
                                            <img src="https://ideas.evite.com/media/slider-surprise-party-invitations-NC.jpg">
                                        <% }%>
                                        <% if(event.maxSubscribers &&  (event.maxSubscribers >= event.maxSubscribers)) {%>
                                            <div class="bottom-right red"><%= event.subscribers.length %> / <%= event.maxSubscribers %></div>
                                        <%} else if(event.maxSubscribers &&  (event.maxSubscribers < event.maxSubscribers)) {%>
                                            <div class="bottom-right green"><%= event.subscribers.length %> / <%= event.maxSubscribers %></div>
                                        <% } %>                                        
                                    </div>
                                    <div class="caption">
                                        <h4><%= moment(event.date).format('DD. MMM YYYY') %></h4>
                                        <a href="/events/<%= event._id %>" ><h4><%= event.title.trunc(36) %></h4></a>
                                    </div>
                                    <p><%= event.description.trunc(100)%>...</p>
                                    <p>
                                        <a href="/events/<%= event._id %>" class="btn btn-primary">Details</a>
                                    </p>
                                </div>
                            </div>
                        <% } %>    
                    <% }); %>
                </div>
            </div>
        <% }); %>    
    </div>

<% include ../partials/footer %>