<% include ../partials/header %>
    <%announcements.forEach(function(announcement) { %>
        <% var hasAccepted = false;
        announcement.accepted.forEach(function(accepter){ %>
            <% if(currentUser && accepter.id.equals(currentUser.id)){ hasAccepted = true;}%>
        <% }); %>
        <% if(!hasAccepted){%>
            <div class=jumbotron>
                <div class="container">
                    <h2><a href="/announcements/<%= announcement.id %>"><%= announcement.title %></a></h2>
                    <h5>verfasst von <%=announcement.author.username %> am <%= moment(announcement.created).format('DD. MMM YYYY') %><h5>
                    <p>
                        <span style="white-space: pre-line"><%= announcement.text %></span>
                     </p>
                    <hr>
                    <form  action="/announcements/<%=announcement.id %>/accept" method="POST">
                        <button class="btn btn-success btn-lg">Kenntnissnahme bestätigen</button>
                    </form>
                </div>
            </div>
        <% } %>
    <% });%> 
   
    

<%

var MaxSubscriber = "unbegr.";     
String.prototype.trunc = String.prototype.trunc ||
      function(n){
          return (this.length > n) ? this.substr(0, n-1) + "..." : this;
      };

 //Maxdate 
var tdates=[];
events.forEach(function(event){
    tdates.push(new Date(event.date));
});
var maxDate=new Date(Math.max.apply(null,tdates));

//generate genMonths
var genMonths = [];
var date = new Date();
var date = new Date(date.getFullYear(), date.getMonth(), 1);
var endDate = maxDate.setMonth(maxDate.getMonth());
var monthNameList = ["Jan", "Feb", "Mär", "Apr", "Mai", "Juni", "Juli", "Aug", "Sep", "Okt", "Nov", "Dez"];
while (date < endDate)
{
    console.log("date:" + moment(date).format('DD.MM.YYYY') + ", endDate: "+  moment(endDate).format('DD.MM.YYYY'));
    var headerstring = moment(date).format('MMMM') + " " + date.getFullYear();
    var compareDate =  monthNameList[date.getMonth()] + "_" + date.getFullYear();
    
    genMonths.push({
        headerstring: headerstring,
        compareDate : compareDate
    });
    date.setMonth(date.getMonth() + 1);

}
%>
<h1>Veranstaltungen in Planung</h1>
<div class="row">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Beschreibung</th>
                <th>Unkosten</th>
                <th>Kommentare</th>
                <th>Interessiert sind</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach(function(event){ %>
                <% 
                MaxSubscriber = "unbegr.";   
                if(event.maxSubscribers != null) {
                    MaxSubscriber = event.maxSubscribers;
                }
            
                if(moment(event.date).format('YYYY') == "1970") { %>
                    <tr>
                        <td style="text-align: left"><a href="/events/<%= event._id %>"><strong><%= event.title %></strong></a><br><%= event.description %></td>
                        <td><a href="/events/<%= event._id %>"><%= event.fee %></a></td>
                        <td style="text-align: center"><a href="/events/<%= event._id %>"><%= event.comments.length %></a></td>
                        <td><a href="/events/<%= event._id %>">
                             <% if(event.subscribers){%>
                                <%= event.subscribers.length %> / <%= MaxSubscriber %>
                            <% } else { %>
                                0 / <%= event.maxSubscribers %>
                            <% } %></a>
                        </td>    
                        <td>
                             <% var isSubscribed = false;
                            var cDate = new Date();
                            var dDate = new Date(event.deadline);
                            %>
                            <!--Subscribe or Unsubscribe Buttons !--> 
                            <% event.subscribers.forEach(function(subscriber){ %>
                                <% if(currentUser && subscriber.id.equals(currentUser._id)){ isSubscribed = true;%>
                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                             <button class="btn btn-lg btn-danger btn-block">Kein Interesse</button>
                                    </form>
                                <% } %>
        
                            <% }) %>
        
                             <% if(!isSubscribed){ %>
                                <form  action="/events/<%=event._id %>/subscribers" method="POST">
                                        <button class="btn btn-lg btn-success btn-block">Ich bin interessiert</button>
                                </form>
                             <% } %>
                        </td>
                    </tr>
                <% } %>  
            <% }); %>
        </tbody>
    </table>
</div>    
<h1>Veranstaltungskalender</h1>
<% var viewClassic = currentUser.viewClassic; %>

<!--CLASSIC VIEW-->
<% if (viewClassic) {%>
        <div class="row">
        <%  genMonths.forEach(function(month){ %>
            <div class="row">
                <div>
                    <h3><%= month.headerstring %></h3>
                    <hr>
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Beschreibung</th>
                                <th>Anmeldeende</th>
                                <th>Unkosten</th>
                                <th>Kommentare</th>
                                <th>angmeldet sind</th>
                                <th>Aktion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% events.forEach(function(event){ %>
                                <% 
                               
                                MaxSubscriber = "unbegr.";   
                                 if(event.maxSubscribers != null) {
                                    MaxSubscriber = event.maxSubscribers;
                                }
                                if(moment(event.date).format('MMM_YYYY').replace('.', '') == month.compareDate && !moment().add(-1,'days').isAfter(moment(event.date))) { %>
                                    <tr>
                                        <td><a id="<%=event.id%>"></a><%= moment(event.date).format('DD.MM.YYYY dddd') %>,</br><%=event.time %> Uhr</td>
                                        <td style="text-align: left"><a href="/events/<%= event._id %>"><strong><%= event.title %></strong></a><br><%= event.description %></td>
                                        <td><a href="/events/<%= event._id %>"><%= moment(event.deadline).format('DD.MM.YYYY') %></a></td>
                                        <td><a href="/events/<%= event._id %>"><%= event.fee %></a></td>
                                        <td style="text-align: center"><a href="/events/<%= event._id %>"><%= event.comments.length %></a></td>
                                        <td><a href="/events/<%= event._id %>">
                                           <% if(event.subscribers){%>
                                                <%= event.subscribers.length %> / <%= MaxSubscriber %>
                                            <% } else { %>
                                                0 / <%= event.maxSubscribers %>
                                            <% } %></a>
                                        </td>    
                                        <td>
                                             <% var isSubscribed = false;
                                            var cDate = new Date();
                                            var dDate = new Date(event.deadline);
                                            %>
                                            <!--Subscribe or Unsubscribe Buttons !--> 
                                            <% event.subscribers.forEach(function(subscriber){ %>
                                                <% if(currentUser && subscriber.id.equals(currentUser._id)){ isSubscribed = true;%>
                                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                                         <% if(moment(cDate).isAfter(dDate)) {%>
                                                             <button class="btn btn-lg btn-danger btn-block disabled">Abmelden</button>
                                                         <% } else {%>
                                                             <button class="btn btn-lg btn-danger btn-block">Abmelden</button>
                                                         <% } %>
                                                    </form>
                                                <% } %>
                        
                                            <% }) %>
                        
                                             <% if(!isSubscribed){ %>
                                                <form  action="/events/<%=event._id %>/subscribers" method="POST">
                                                    <% if(moment(cDate).isAfter(dDate)) {%>
                                                        <button class="btn btn-lg btn-success btn-block disabled">Anmelden</button>
                                                    <% } else {%>
                                                        <button class="btn btn-lg btn-success btn-block">Anmelden</button>
                                                    <% } %>    
                                                </form>
                                             <% } %>
                                        </td>
                                    </tr>
                                <% } %>  
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% }); %>    
    </div>
   
<!--MODERN VIEW-->
<% } else { %>
    <div class="row">
        <%  genMonths.forEach(function(month){ %>
            <div class="row">
                <div>
                    <h3><%= month.headerstring %></h3>
                    <hr>
                    <% events.forEach(function(event){ %>
                        <% if(moment(event.date).format('MMM_YYYY').replace('.', '') == month.compareDate) { %>
                            <div class="col-md-3 col-sm-6 text-center">
                                <div id= "indexthumbnail">
                                   <div class="indexthumbnail containerindex ">
                                        <% if(event.image) {%>
                                            <img src="<%= event.image %>">
                                        <% } else {%>
                                            <img src="https://ideas.evite.com/media/slider-surprise-party-invitations-NC.jpg">
                                        <% }%>
                                        <% if(event.maxSubscribers &&  (event.subscribers.length >= event.maxSubscribers)) {%>
                                            <div class="bottom-right red"><%= event.subscribers.length %> / <%= event.maxSubscribers %></div>
                                        <%} else if(event.maxSubscribers &&  (event.subscribers.length < event.maxSubscribers)) {%>
                                            <div class="bottom-right green"><%= event.subscribers.length %> / <%= event.maxSubscribers %></div>
                                        <% } %>                                        
                                    </div>
                                    <div class="caption">
                                        <h4><%= moment(event.date).format('DD. MMM YYYY') %></h4>
                                        <a href="/events/<%= event._id %>" ><h4><%= event.title.trunc(36) %></h4></a>
                                    </div>
                                    <p><%= event.description.trunc(100)%>...</p>
                                    <p>
                                        <a href="/events/<%= event._id %>" class="btn btn-primary">Details</a>
                                    </p>
                                </div>
                            </div>
                        <% } %>    
                    <% }); %>
                </div>
            </div>
        <% }); %>    
    </div>
<% } %>
<% include ../partials/footer %>