<% include ../partials/header %>
<%

    var isover = false;
    if(moment().isAfter(moment(event.date))) {
       event.isover = true;
    }
    
        if(moment(event.date).format('YYYY') == moment("01.01.1970").format('YYYY')) {
        event.planned = false;
        event.isover = false;
    }

    var MaxSubscriber = "unbegrenzt";
    if(event.maxSubscribers != null) {
        MaxSubscriber = event.maxSubscribers;
    }
    

        %>
<div class="row">
    <div class="col-md-12">
       
   
        <% if(event.image != null) {%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=event.image%>">
            </div>
            <div id="map"></div>
        </div>
        <% }%>
        <div class="col-md-9">
             <div class="well well">
                <div class="caption-full">
                <h2><%=event.title%>
                <% if(event.isover){%>
                    <% if(event.planned){%>
                         vom <%=moment(event.date).format('DD. MMMM YYYY')%> [vergangene Veranstaltung]
                    <% } else  { %>
                      [in Planung] 
                     <% } %>
                <% } else if (event.planned) { %>
                 am <%=moment(event.date).format('DD. MMMM YYYY')%>
                <% } %>
                </h2>
                 <% if(!event.isover){%>
                 <!--Edit & Delete Buttons !-->
                    <% if(currentUser && event.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                            <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/edit">Bearbeiten</a>
                            <form class="delete-form" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Veranstaltung löschen</button>
                            </form>
                            
                     <% } %>    
                 <% } %>  
                <hr>
                </div>
                <div class="caption">
                     <!--Details!-->
                    <p><span style="white-space: pre-line"><%=event.description%></span></p>
                     <p>
                        <em>erstellt von <a href="/users/<%= event.author.id %>"><%=event.author.username%></a>, <%= moment(event.created).fromNow() %></em>
                    </p>
                    <div class="table-responsive">          
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><strong>Datum und Uhrzeit:</strong></td>
                                    <% if(!event.planned){%>
                                        <td><em>wird noch festgelegt</em></td>
                                    <% } else {%>
                                        <td><%=moment(event.date).format('DD. MMM YYYY')%> um <%=event.time%> Uhr (<em><%= moment(event.date).fromNow() %></em>)</td>
                                    <% } %>
                              </tr>
                              <tr>
                                  <td><strong>Anmeldeschluss:</strong></td>
                                    <% if(!event.planned){%>
                                        <td><em>wird noch festgelegt</em></td> 
                                    <% } else {%>
                                        <td><%=moment(event.deadline).format('DD. MMM YYYY')%> <em>(<%= moment(event.deadline).fromNow() %>)</em></td>
                                    <% } %>
                              </tr>
                              <tr>
                                  <td><strong>Ort:</strong></td>
                                  <td><%=event.location%></td>
                              </tr>
                              <tr>
                                  <td><strong>Treffpunkt:</strong></td>
                                  <td><%=event.meetingpoint%> </td>
                              </tr>
                              <tr>
                                  <td><strong>Unkosten:</strong></td>
                                  <td><%=event.fee%></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <% var isSubscribed = false;
                        var cDate = new Date();
                        var dDate = new Date(event.deadline);
                        var subscribeText = "Anmelden";
                        var unsubscribeText ="Abmelden";
                        if(!event.planned) {
                            subscribeText = "Ich bin interessiert"
                            unsubscribeText = "Kein Interesse"   
                        }
                        %>
                        <% if(!event.isover){%>
                            <!--Subscribe or Unsubscribe Buttons !--> 
                            <% event.subscribers.forEach(function(subscriber){ %>
                                <% if(currentUser && subscriber.id.equals(currentUser._id)){ isSubscribed = true;%>
                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                         <% if(moment(cDate).isAfter(dDate)) {%>
                                             <button class="btn btn-lg btn-danger btn-block disabled"><%=unsubscribeText%></button>
                                         <% } else {%>
                                             <button class="btn btn-lg btn-danger btn-block"><%=unsubscribeText%></button>
                                         <% } %>
                                    </form>
                                <% } %>
                            <% }) %>
        
                             <% if(!isSubscribed){ %>
                                <form  action="/events/<%=event._id %>/subscribers" method="POST">
                                    <% if(moment(cDate).isAfter(dDate)) {%>
                                        <button class="btn btn-lg btn-success btn-block disabled"><%=subscribeText%></button>
                                    <% } else {%>
                                        <button class="btn btn-lg btn-success btn-block"><%=subscribeText%></button>
                                    <% } %>    
                                </form>
                             <% } %>
                         <% } %>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="table-responsive">          
                     <table class="table">
                        <thead>
                            <tr>
                                <% if(event.isover){%>
                                     <th>teilgenommen haben</th>
                                <% } else if(!event.planned){%>
                                    <th>Interessenten</th>
                                <% } else { %>
                                    <th>Teilnehmer</th>
                                <% } %>
                                <th style="text-align: right">
                                    <% if(event.subscribers){%>
                                        <%= event.subscribers.length %> / <%= MaxSubscriber %>
                                    <% } else { %>
                                        0 / <%= event.maxSubscribers %>
                                    <% } %> </strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                         <% event.subscribers.forEach(function(subscriber){ %>
                          <tr>
                                <td><strong><a href="/users/<%= subscriber.id %>"><%=subscriber.username%></a></strong></td>
                                <td style="text-align: right">angemeldet <%= moment(subscriber.created).fromNow() %>
                                <% if(currentUser && currentUser.isAdmin && !event.isover){%>
                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                         <% if(!event.planned){%>
                                            <button class="btn btn-xs btn-danger">Interessent abmelden</button>
                                        <% } else { %>
                                            <button class="btn btn-xs btn-danger">Teilnehmer abmelden</button>
                                        <% } %>
                                        
                                    </form>
                                <% } %> 
                                </td>
                          </tr>
                         <% }) %>   
                        </tbody>
                     </table>
                </div>
            </div>
          

             <!-- Comments !-->
            <div class="well">
                <div class="table-responsive">          
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Kommentare</th>
                                <th style="text-align: right">
                                    <a class = "btn btn-success" href="/events/<%= event._id %>/comments/new">Kommentar schreiben</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% event.comments.forEach(function(comment){ %>
                                <tr>
                                    
                                    <td><strong><%= comment.author.username %></strong></br><%= comment.text %></td>
                                    <td style="text-align: right"><%= moment(comment.created).fromNow() %></br>
                                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                                            <a class="btn btn-xs btn-warning" href="/events/<%= event._id %>/comments/<%= comment._id %>/edit">Bearbeiten</a>  
                                            <form class="delete-form" action="/events/<%= event._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                                <button class="btn btn-xs btn-danger">Kommentar löschen</button>
                                            </form>
                                        <% } %> 
                                    </td>
                                </tr>     
                            <% })%>
                        </tbody>
                    </table>
                </div>  
            </div>
        <!-- Fotos !-->    
        <% if(event.isover){%>
        <div class="well">
            <div class="table-responsive"> 
             <table class="table">
                        <thead>
                            <tr>
                                <th>Fotos</th>
                                <th style="text-align: right">
                                    <a class = "btn btn-success" href="/events/<%= event._id %>/photos/new">Foto hochladen</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <p class="uploader"></p>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">Schließen</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                                <div id="links">
                                    <% event.photos.forEach(function(photo){ %>
                                        <a class="photosmall" href="<%=photo.path%>" 
                                        title="Foto von <%=photo.uploader.username%>: <%=photo.description%>"  
                                        data-uploader="bereitgestellt von <%=photo.uploader.username%>" 
                                        >
                                            <img src="<%=photo.path%>" alt="<%=photo.description%>" >
                                        </a>
                                    <% }); %>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
        <% } %>
<script src="/js/blueimp-gallery.min.js"></script>            
<script>
    document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {
            index: link, event: event,
            onslide: function (index, slide) {
                self = this;
                var initializeAdditional = function (index, data, klass, self) {
                  var text = self.list[index].getAttribute(data),
                    node = self.container.find(klass);
                  node.empty();
                  if (text) {
                    node[0].innerHTML = text;
                  }
            };
            initializeAdditional(index, 'data-uploader', '.uploader', self);
          }
        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
    };

  function initMap() {
    var lat = <%= event.lat %>;
    var lng = <%= event.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= event.name %><br />
      <%= event.location %></strong>
      <p><%= event.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtfpxFDfTMdbvPh9nbZTmQK5w2s2UP3AM&callback=initMap"></script>
<% include ../partials/footer %>