<% include ../partials/header %>
<%

    var isover = false;
    if(moment().add(-1,'days').isAfter(moment(event.date))) {
       event.isover = true;
    }
    
        if(moment(event.date).format('YYYY') == moment("01.01.1970").format('YYYY')) {
        event.planned = false;
        event.isover = false;
    }

    var MaxSubscriber = "unbegrenzt";
    if(event.maxSubscribers != null) {
        MaxSubscriber = event.maxSubscribers;
    }
    

        %>
<div class="row">
    <div class="col-md-12">
        <% if(event.image != null) {%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=event.image%>">
            </div>
            <div id="map"></div>
        </div>
        <% }%>
        <div class="col-md-9">
             <div class="well well">
                <div class="caption-full">
                <h2><%=event.title%>
                <% if(event.isover){%>
                    <% if(event.planned){%>
                         vom <%=moment(event.date).format('DD. MMMM YYYY')%> [vergangene Veranstaltung]
                    <% } else  { %>
                      [in Planung] 
                     <% } %>
                <% } else if (event.planned) { %>
                 am <%=moment(event.date).format('DD. MMMM YYYY')%>
                <% } %>
                </h2>
                 <!--Edit & Delete Buttons !-->
                    <% if(currentUser && event.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                            <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/edit">Bearbeiten</a>
                            <% if(!event.isover){%>
                                <form class="delete-form" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Veranstaltung löschen</button>
                                </form>
                            <% } %>  
                    <% } %>    
                <hr>
                </div>
                <div class="caption">
                     <!--Details!-->
                    <p><span style="white-space: pre-line"><%=event.description%></span></p>
                     <p>
                        <em>erstellt von <a href="/users/<%= event.author.id %>"><%=event.author.username%></a>, <%= moment(event.created).fromNow() %></em>
                    </p>
                    <div class="table-responsive">          
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><strong>Datum und Uhrzeit:</strong></td>
                                    <% if(!event.planned){%>
                                        <td><em>wird noch festgelegt</em></td>
                                    <% } else {%>
                                        <td><%=moment(event.date).format('DD. MMM YYYY')%> um <%=event.time%> Uhr (<em><%= moment(event.date).fromNow() %></em>)</td>
                                    <% } %>
                              </tr>
                              <tr>
                                  <td><strong>Anmeldeschluss:</strong></td>
                                    <% if(!event.planned){%>
                                        <td><em>wird noch festgelegt</em></td> 
                                    <% } else {%>
                                        <td><%=moment(event.deadline).format('DD. MMM YYYY')%> <em>(<%= moment(event.deadline).fromNow() %>)</em></td>
                                    <% } %>
                              </tr>
                              <tr>
                                  <td><strong>Ort:</strong></td>
                                  <td><%=event.location%></td>
                              </tr>
                              <tr>
                                  <td><strong>Treffpunkt:</strong></td>
                                  <td><%=event.meetingpoint%> </td>
                              </tr>
                              <tr>
                                  <td><strong>Unkosten:</strong></td>
                                  <td><%=event.fee%></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <% var isSubscribed = false;
                        var cDate = new Date();
                        var dDate = new Date(event.deadline);
                        var subscribeText = "Anmelden";
                        var unsubscribeText ="Abmelden";
                        if(!event.planned) {
                            subscribeText = "Ich bin interessiert"
                            unsubscribeText = "Kein Interesse"   
                        }
                        %>
                        <% if(!event.isover){%>
                            <!--Subscribe or Unsubscribe Buttons !--> 
                            <% event.subscribers.forEach(function(subscriber){ %>
                                <% if(currentUser && subscriber.id.equals(currentUser._id)){ isSubscribed = true;%>
                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                         <% if(moment(cDate).isAfter(dDate)) {%>
                                             <button class="btn btn-lg btn-danger btn-block disabled"><%=unsubscribeText%></button>
                                         <% } else {%>
                                             <button class="btn btn-lg btn-danger btn-block"><%=unsubscribeText%></button>
                                         <% } %>
                                    </form>
                                <% } %>
                            <% }) %>
        
                             <% if(!isSubscribed){ %>
                                <form  action="/events/<%=event._id %>/subscribers" method="POST">
                                    <% if(moment(cDate).isAfter(dDate)) {%>
                                        <button class="btn btn-lg btn-success btn-block disabled"><%=subscribeText%></button>
                                    <% } else {%>
                                        <button class="btn btn-lg btn-success btn-block"><%=subscribeText%></button>
                                    <% } %>    
                                </form>
                             <% } %>
                         <% } %>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="table-responsive">          
                     <table class="table">
                        <thead>
                            <tr>
                                <% if(event.isover){%>
                                     <th>teilgenommen haben</th>
                                <% } else if(!event.planned){%>
                                    <th>Interessenten</th>
                                <% } else { %>
                                    <th>Teilnehmer</th>
                                <% } %>
                                <th style="text-align: right">
                                    <% if(event.subscribers){%>
                                        <%= event.subscribers.length %> / <%= MaxSubscriber %>
                                    <% } else { %>
                                        0 / <%= event.maxSubscribers %>
                                    <% } %> </strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                         <% event.subscribers.forEach(function(subscriber){ %>
                          <tr>
                                <td><strong><a href="/users/<%= subscriber.id %>"><%=subscriber.username%></a></strong></td>
                                <td style="text-align: right">angemeldet <%= moment(subscriber.created).fromNow() %>
                                <% if(currentUser && currentUser.isAdmin && !event.isover){%>
                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                         <% if(!event.planned){%>
                                            <button class="btn btn-xs btn-danger">Interessent abmelden</button>
                                        <% } else { %>
                                            <button class="btn btn-xs btn-danger">Teilnehmer abmelden</button>
                                        <% } %>
                                        
                                    </form>
                                <% } %> 
                                </td>
                          </tr>
                         <% }) %>   
                        </tbody>
                     </table>
                </div>
            </div>
          

             <!-- Comments !-->
            <div class="well">
                <div class="table-responsive">          
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Kommentare</th>
                                <th style="text-align: right">
                                    <a class = "btn btn-success" href="/events/<%= event._id %>/comments/new">Kommentar schreiben</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% event.comments.forEach(function(comment){ %>
                                <tr>
                                    
                                    <td><strong><%= comment.author.username %></strong></br><%= comment.text %></td>
                                    <td style="text-align: right"><%= moment(comment.created).fromNow() %></br>
                                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                                            <a class="btn btn-xs btn-warning" href="/events/<%= event._id %>/comments/<%= comment._id %>/edit">Bearbeiten</a>  
                                            <form class="delete-form" action="/events/<%= event._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                                <button class="btn btn-xs btn-danger">Kommentar löschen</button>
                                            </form>
                                        <% } %> 
                                    </td>
                                </tr>     
                            <% })%>
                        </tbody>
                    </table>
                </div>  
            </div>
        <!-- Fotos !-->    
        <% if(event.isover){%>
        <div class="well">
            <div class="table-responsive"> 
             <table class="table">
                        <thead>
                            <tr>
                                <th>Fotos</th>
                                <th style="text-align: right">
                                    <a class = "btn btn-success" href="/events/<%= event._id %>/photos/new">Foto hochladen</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                        <% event.photos.forEach(function(photo){ %>
                            <a class="photosmall" href="/events/<%= event._id %>/photos/<%= photo._id %>"><img  class="img-responsive" src="<%=photo.path%>" /></a>
                        <% }); %>
            </div>
        <% } %>
<script>
// Exif orientation value to css transform mapping
// Does not include flipped orientations
var rotation = {
  1: 'rotate(0deg)',
  3: 'rotate(180deg)',
  6: 'rotate(90deg)',
  8: 'rotate(270deg)'
};
function _arrayBufferToBase64( buffer ) {
  var binary = ''
  var bytes = new Uint8Array( buffer )
  var len = bytes.byteLength;
  for (var i = 0; i < len; i++) {
    binary += String.fromCharCode( bytes[ i ] )
  }
  return window.btoa( binary );
}
var orientation = function(file, callback) {
  var fileReader = new FileReader();
  fileReader.onloadend = function() {
    var base64img = "data:"+file.type+";base64," + _arrayBufferToBase64(fileReader.result);
    var scanner = new DataView(fileReader.result);
    var idx = 0;
    var value = 1; // Non-rotated is the default
    if(fileReader.result.length < 2 || scanner.getUint16(idx) != 0xFFD8) {
      // Not a JPEG
      if(callback) {
        callback(base64img, value);
      }
      return;
    }
    idx += 2;
    var maxBytes = scanner.byteLength;
    while(idx < maxBytes - 2) {
      var uint16 = scanner.getUint16(idx);
      idx += 2;
      switch(uint16) {
        case 0xFFE1: // Start of EXIF
          var exifLength = scanner.getUint16(idx);
          maxBytes = exifLength - idx;
          idx += 2;
          break;
        case 0x0112: // Orientation tag
          // Read the value, its 6 bytes further out
          // See page 102 at the following URL
          // http://www.kodak.com/global/plugins/acrobat/en/service/digCam/exifStandard2.pdf
          value = scanner.getUint16(idx + 6, false);
          maxBytes = 0; // Stop scanning
          break;
      }
    }
    if(callback) {
      callback(base64img, value);
    }
  }
  fileReader.readAsArrayBuffer(file);
};
$(function() {
  $('#file').change(function() {
    var file = $(this)[0].files[0];
    if(file) {
      orientation(file, function(base64img, value) {
        $('#placeholder1').attr('src', base64img);
        console.log(rotation[value]);
        var rotated = $('#placeholder2').attr('src', base64img);
        if(value) {
          rotated.css('transform', rotation[value]);
        }
      });
    }
  });
});




  function initMap() {
    var lat = <%= event.lat %>;
    var lng = <%= event.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= event.name %><br />
      <%= event.location %></strong>
      <p><%= event.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtfpxFDfTMdbvPh9nbZTmQK5w2s2UP3AM&callback=initMap"></script>
<% include ../partials/footer %>