<% include ../partials/header %>
<div class="row">
    <div class="col-md-12">
       
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img class="img-responsive" src="<%=event.image%>">
        </div>
        <div id="map"></div>
    </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                <h2><%=event.title%> am </strong><%=moment(event.date).format('DD. MMMM YYYY')%></h2>
                 <!--Edit & Delete Buttons !-->
                 
                    <% if(currentUser && event.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                            <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/edit">Bearbeiten</a>
                            <form class="delete-form" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Veranstaltung löschen</button>
                            </form>
                     <% } %>    
                <hr>
                </div>
                <div class="caption">
                     <!--Details!-->
                    <p><%=event.description%></p>
                     <p>
                        <em>erstellt von <a href="/users/<%= event.author.id %>"><%=event.author.username%></a>, <%= moment(event.created).fromNow() %></em>
                    </p>
                    <div class="table-responsive">          
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><strong>Datum und Uhrzeit:</strong></td>
                                <td><%=moment(event.date).format('DD. MMM YYYY')%> um <%=event.time%> Uhr (<em><%= moment(event.date).fromNow() %></em>)</td>
                              </tr>
                              <tr>
                                  <td><strong>Anmeldeschluss:</strong></td>
                                  <td><%=moment(event.deadline).format('DD. MMM YYYY')%> <em>(<%= moment(event.deadline).fromNow() %>)</em></td>
                              </tr>
                              <tr>
                                  <td><strong>Ort:</strong></td>
                                  <td><%=event.location%></td>
                              </tr>
                              <tr>
                                  <td><strong>Treffpunkt:</strong></td>
                                  <td><%=event.meetingpoint%> </td>
                              </tr>
                              <tr>
                                  <td><strong>Bearbeitungsgebühr:</strong></td>
                                  <td><%=event.fee%></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <% var isSubscribed = false;
                        var cDate = new Date();
                        var dDate = new Date(event.deadline);
                        %>
                        <!--Subscribe or Unsubscribe Buttons !--> 
                        <% event.subscribers.forEach(function(subscriber){ %>
                            <% if(currentUser && subscriber.id.equals(currentUser._id)){ isSubscribed = true;%>
                                
                                <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                     <% if(moment(cDate).isAfter(dDate)) {%>
                                         <button class="btn btn-lg btn-danger btn-block disabled">Abmelden</button>
                                     <% } else {%>
                                         <button class="btn btn-lg btn-danger btn-block">Abmelden</button>
                                     <% } %>
                                </form>
                            <% } %>
                        <% }) %>
    
                         <% if(!isSubscribed){ %>
                            <form  action="/events/<%=event._id %>/subscribers" method="POST">
                                <% if(moment(cDate).isAfter(dDate)) {%>
                                    <button class="btn btn-lg btn-success btn-block disabled">Anmelden</button>
                                <% } else {%>
                                    <button class="btn btn-lg btn-success btn-block">Anmelden</button>
                                <% } %>    
                            </form>
                         <% } %>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="table-responsive">          
                     <table class="table">
                        <thead>
                            <tr>
                                <th>Teilnehmer</th>
                                <th style="text-align: right">
                                    <% if(event.subscribers){%>
                                        <%= event.subscribers.length %> / <%= event.maxSubscribers %>
                                    <% } else { %>
                                        0 / <%= event.maxSubscribers %>
                                    <% } %> </strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                         <% event.subscribers.forEach(function(subscriber){ %>
                          <tr>
                                <td><strong><a href="/users/<%= subscriber.id %>"><%=subscriber.username%></a></strong></td>
                                <td style="text-align: right"><%= moment(subscriber.created).fromNow() %>
                                <% if(currentUser && currentUser.isAdmin){%>
                                    <form class="delete-form" action="/events/<%= event._id %>/subscribers/<%= subscriber._id %>/?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Teilnehmer abmelden</button>
                                    </form>
                                <% } %> 
                                </td>
                          </tr>
                         <% }) %>   
                        </tbody>
                     </table>
                </div>
            </div>
          

             <!-- Comments !-->
            <div class="well">
                <div class="text-right">
                    <a class = "btn btn-success" href="/events/<%= event._id %>/comments/new">Kommentar schreiben</a>
                </div>
                <hr>
                <% event.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
                            <div>
                                <%= comment.text %>
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                                    <div class="pull-right">
                                        <a class="btn btn-xs btn-warning" href="/events/<%= event._id %>/comments/<%= comment._id %>/edit">Bearbeiten</a>  
                                        <form class="delete-form" action="/events/<%= event._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                            <button class="btn btn-xs btn-danger">Kommentar löschen</button>
                                        </form>
                                    </div>
                                <% } %> 
                                <hr>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>    
    </div>  
</div>
<script>
  function initMap() {
    var lat = <%= event.lat %>;
    var lng = <%= event.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= event.name %><br />
      <%= event.location %></strong>
      <p><%= event.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtfpxFDfTMdbvPh9nbZTmQK5w2s2UP3AM&callback=initMap"></script>
<% include ../partials/footer %>