<% include ../partials/header %>
<div class="row">
    <div class="col-md-8">
        <div class="well">
            <h1><%= announcement.title%></h1>
            <em>verfasst von <%= announcement.author.username%> am <%=  moment(announcement.created).format('DD. MMM YYYY') %> </em>
            <% if(currentUser && announcement.author.id.equals(currentUser._id)){%>
                <div class="pull-right">
                    <a class="btn btn-xs btn-warning" href="/announcements/<%= announcement._id %>/edit">Bearbeiten</a>  
                    <form class="delete-form" action="/announcements/<%= announcement._id %>/?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Löschen</button>
                    </form>
                </div>
            <% } %> 
            <hr>
            </td><span style="white-space: pre-line"><%= announcement.text %></span>
            <hr>
            <% var hasAccepted = false;
            announcement.accepted.forEach(function(accepter){ %>
                <% if(currentUser && accepter.id.equals(currentUser.id)){ hasAccepted = true;}%>
            <% }); %>
            <% if(!hasAccepted){%>
                <form  action="/announcements/<%=announcement.id %>/accept" method="POST">
                    <button class="btn btn-success btn-lg">Kenntnissnahme bestätigen</button>
                </form>
            <% } %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h3>Zur Kenntnis genommen von</h3>
            <hr>
            <div class="table-responsive">          
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% announcement.accepted.forEach(function(accepter){ %>
                            <tr>
                                <td><%=accepter.username%></td>
                                <td><%=moment(accepter.date).fromNow()%></td>
                            </tr>
                        <% });%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    


<% include ../partials/footer %>