<% include ../partials/header %>
<div class="row">
    <div class="col-md-12">
    <div class="caption-full">
            <h2>Fotos von "<a href="/events/<%=event_id%>"><%=event.title%></a>" vom <%=moment(event.date).format('DD. MMMM YYYY')%></h2>
    </div>

    <div class="col-md-9">
            <img class="img-thumbnail" src="<%=photo.path%>">
    </div>
    <div class="col-md-3">
       <div class="well"> 
            <p class="h4">Informationen</p>
            geteilt von <strong><%=photo.uploader.username%></strong> <%= moment(photo.created).fromNow() %> 
            </br>Beschreibung: <%= photo.description%></td>
             <% if(currentUser && photo.uploader.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                </br><a class="btn btn-xs btn-warning" href="/events/<%= event._id %>/photos/<%= photo._id %>/edit">Bearbeiten</a>  
                <form class="delete-form" action="/events/<%= event._id %>/photos/<%= photo._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Foto löschen</button>
                </form>
            <% } %> 
        </div>
    </div>
    <div class="col-md-12">
        <div class="well"> 
                <% event.photos.forEach(function(photol){ %>
                        <a  class="photosmall" href="/events/<%= event._id %>/photos/<%= photol._id %>"><img class="img-responsive" src="<%=photol.path%>"></a>
                <% }); %>
        </div>
    </div>
           
</div>

<% include ../partials/footer %>