<% include ../partials/header %>
    
    
    <h1>Mitglieder der <%= clubname_gen %></h1>
    <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
   
        <thead>
            <tr>
                <th data-sortable="true" data-field="username">Benutzername</th>
                <th data-sortable="true">Vorname</th>
                <th data-sortable="true">Nachname</th>
                <th data-sortable="true">Geb.-datum</th>
                <th data-sortable="true">Email</th>
                <th data-sortable="true">Telefon</th>
                <th data-sortable="true">Mobil</th>
                <% if(currentUser.isAdmin) { %>
                <th data-sortable="true">letzter Login</th>
                <th data-sortable="true">Status</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user){ %>
            <% if (moment(user.birthday).format("DD.MM")==moment().format("DD.MM")) { %> 
            <tr class="info">
            <% } else {%>
            <tr>
            <% }%>
                <td><a data-value="<%= user.username %>" href="/users/<%= user._id %>"><%= user.username %></a></td>
                <td><a data-value="<%= user.firstname %>" href="/users/<%= user._id %>"><%= user.firstname %></a></td>
                <td><a data-value="<%= user.lastname %>" href="/users/<%= user._id %>"><%= user.lastname %></a></td>
                <td><a data-value="<%= user.birthday %>" href="/users/<%= user._id %>">
                    <% if(user.birthday) { %> 
                        <%=moment(user.birthday).format('DD. MM. YYYY') %></a>
                    <% } %>
                    <% if (moment(user.birthday).format("DD.MM")==moment().format("DD.MM")) { %> 
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                    <% }%>
                </td>
                <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
                <td><a data-value="<%= user.telephone %>" href="/users/<%= user._id %>"><%= user.telephone %></a></td>
                <td><a data-value="<%= user.mobil %>" href="/users/<%= user._id %>"><%= user.mobil %></a></td>
                <% if(currentUser.isAdmin) {  %>
                    <td>
                        <a data-value="<%= moment(user.lastLogin).utcOffset(60).format("YYYYMMDD HH:mm") %>" href="/users/<%= user._id %>"><%= moment(user.lastLogin).utcOffset(60).format("DD.MM.YYYY HH:mm") %></a>
                    </td>
                    <td>
                            <% if(user.isActive && !user.isAdmin) { %>
                                <a class="btn btn-xs btn-danger" href="/users/<%= user._id %>/toggle_active">sperren</a>
                            <% } else if( !user.isAdmin) {%>
                                <a class="btn btn-xs btn-success" href="/users/<%= user._id %>/toggle_active">freischalten</a>
                            <% } else { %>
                                Administrator
                            <% } %>
                    </td>
                   
                <% } %>
            </tr>
            <% }); %>
        </tbody>
  </table>

<% include ../partials/footer %>