<% include ../partials/header %>
<div class="row">
    <div class="col-md-12">
        <h1>Profil von <%= user.username%></h1>
    </div>
    <!-- Visitenkarte -->
    <div class="col-md-4">
        <div class="well well-sm">
            <div class="caption">
                <div class="thumbnail">
                    <img src="<%= user.avatar%>" class="img-thumbnail" alt="<%= user.username%> hat noch kein Bild hinterlegt">
                </div>
                <strong><%= user.firstname%> <%= user.lastname %></strong>
                <% if(user.isAdmin) { %>
                <em>(Administrator)</em>
                <% } %>
                </p>
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>Adresse</td>
                            <td><%= user.streetAndNumber%><br><%= user.zipcode%> <%= user.city%></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto: <%= user.email%>"><%= user.email%></a></td>
                        </tr>
                        <tr>
                            <td>Telefon</td>
                            <td><%= user.telephone%></td>
                        </tr>
                        <tr>
                            <td>Mobil</td>
                            <td><%= user.mobil%></td>
                        </tr>
                    </tbody>
                </table>
                <p style="align:center"><em>Mitglied seit <%= moment(user.created).format('DD. MMM YYYY') %></em></p>
                <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                    <hr>
                    <a class="btn btn-xs btn-warning" href="/users/<%=user._id%>/edit">Bearbeiten</a>
                    <form class="delete-form" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Profil löschen</button>
                    </form>
                 <% } %>   
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="well">
            <h3>Von <%= user.username%> organisierte Veranstaltungen:</h3>
            <hr>
            <ul>
            <% events.forEach(function(event) { %>
                <li><a href="/events/<%= event.id %>"><%= event.title %> am <%= moment(event.date).format('DD. MMM YYYY') %></a></li>
             <% });%> 
            </ul>
        </div>
    </div>
</div>
    


<% include ../partials/footer %>