<% include ../partials/header %>
<div class="row">
    <div class="col-md-12">
        <h1>Profil von <%= user.username%></h1>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="<%= user.avatar%>" alt="Avatar von <%= user.username%>">
            <hr>
            <div class="caption">
                <p><%= user.firstname%> <%= user.lastname %>
                <% if(user.isAdmin) { %>
                <em>(Administrator)</em>
                <% } %>
                </p>
                
                <p><%= user.streetAndNumber%><br><%= user.zipcode%> <%= user.city%></p>
                <a href="mailto: <%= user.email%>"><%= user.email%></a>
                <p><%= user.telephone%></p>
                <p><em>Mitglied seit <%= moment(user.created).format('DD. MMM YYYY') %></em></p>
                <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                    <a class="btn btn-xs btn-warning" href="/users/<%=user._id%>/edit">Bearbeiten</a>
                    <form class="delete-form" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Profil löschen</button>
                    </form>
                 <% } %>   
             </div>
        </div>
        <div class="thumbnail">
             
        </div>
    </div> 
    <div class="col-md-8">
        <div class="well">
            <h3><%= user.username%>'s Veranstaltungen:</h3>
            <hr>
            <ul>
            <% events.forEach(function(event) { %>
                <li><a href="/events/<%= event.id %>"><%= event.title %> am <%= event.date %></a></li>
             <% });%> 
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>